html {
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}
body {
    margin:0;
    font-family:Verdana,sans-serif;
    font-size:15px;
    line-height:1.5
}

/*Navigation*/
.eni-nav,.eni-bottom{
    position:fixed;
    width:100%;
    z-index:1
}
.eni-nav{
    top:0
}
.eni-bottom{
    bottom:0
}

.eni-bar {
    width:100%;
    overflow:hidden
}
.eni-center .eni-bar {
    display:inline-block;
    width:auto
}
.eni-bar .eni-bar-item{ 
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0
}

.eni-white,.eni-hover-white:hover{
    color:#000!important;
    background-color:#fff!important
}


.eni-padding{
    padding:7px 14px!important
}

.eni-card,.eni-card-2{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}
.eni-card-4,.eni-hover-shadow:hover{
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

.eni-bar{
    width:100%;
    overflow:hidden
}
.eni-center .eni-bar{
    display:inline-block;
    width:auto
}
.eni-bar .eni-bar-item{
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0
}
.eni-bar .eni-dropdown-hover,.eni-bar .eni-dropdown-click{
    position:static;
    float:left
}
.eni-bar .eni-button{
    white-space:normal
}
.eni-bar-block .eni-bar-item{
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0
}
.eni-bar-block.eni-center .eni-bar-item{
    text-align:center
}
.eni-block{
    display:block;
    width:100%
}

.eni-btn,.eni-button{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap}
.eni-btn:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}

.eni-right{
    float:right!important;
}

.eni-right-align{
    text-align:right!important
}
/*Header*/
.eni-display-container{
    position:relative
}

.eni-content,.eni-auto{
    margin-left:auto;
    margin-right:auto
}
.eni-content{
    max-width:980px
}
.eni-auto{
    max-width:1140px
}
.eni-wide {
    letter-spacing:4px
}
.eni-image {
    max-width:100%;
    height:auto
}
img {
    vertical-align:middle
}
.eni-display-bottomleft{
    position:absolute;
    left:0;
    bottom:0
}
.eni-padding-large{
    padding:12px 24px!important
}
.eni-xxlarge{
    font-size:36px!important
}
